@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  *{
    margin: 0px;
    padding: 0px;
  }
  .container{
    overflow-x: clip;
    max-width: 1920px;
    margin:0px auto;
    position:relative;
    top:0px;
    left:0px;
    background-color: #f3f3f3;
  }
  @media (max-width:1366px) {
    .container{
      min-width: 100vw;
    }
  }
  @media (min-width:1367px) {
    .container{
      min-width: 0px !important;
    }
  }
  a{
    min-width: max-content;
  }
  input,input:focus,input:active,textarea,textarea:focus,textarea:active{
    outline: none;
    border: 0px;
  }
  svg path,.home-carousel-view,.home-carousel-feature-controls div,.product-title {
    transition: all 0.7s ease-in-out;
  }
  .nav-overlay{
    box-shadow: 0px -200px 100px inset black;
  }
  .product-breadcrumb{
    transition: all 0.7s ease-in-out;
  }
  input::placeholder{
    font-style: italic;
  }
  button{
    background: linear-gradient(90deg,#FF00C7,#FF7A00);
  }
  .product:hover .product-breadcrumb{
    right: 0px;
  }
  .hero-image{
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  }
  @media (min-device-width:768px) {
    .hero-image{
      height: 20vh !important;
    }
  }
  @media (min-device-width:1024px) {
    .hero-image{
      height: 100vh !important;
    } 
  }
  @media (min-device-width:1366px) {
    .hero-image{
      height: 140vh !important;
    }
  }
  @media (min-device-width:1440px) {
    .hero-image{
      height: 100vh !important;
    }
  }
  @media (min-device-width:768px) {
    .search{
      margin-top: 100px !important;
    }
  }
  @media (min-device-width:1444px) {
    .search{
      margin-top: 100px !important;
    }
  }
  .item-detailsm,.cart-summary{
    background: linear-gradient(180deg,#D9D9D9,#FFFFFF);
  }
  .cart-summary button{
    background: gray  ;
  }
}