@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    overflow-x: clip;
    width: 100vw;
    height: 8000px;
  }
  a{
    min-width: max-content;
  }
  svg path,.home-carousel-view,.home-carousel-feature-controls div {
    transition: all 0.7s linear;
  }
  input::placeholder{
    font-style: italic;
  }
  button{
    background: linear-gradient(90deg,#FF00C7,#FF7A00);
  }
}